*{padding:0;
margin:0;}

header{
	background-color: black;
	color:white;


}

header li{
	list-style-type: none;
	display:inline;
	padding:10px;
	margin:10px;
	font-size: 25px;

	

}
.selected, .selected a{
	background-color: white;
	color:black;
}
header a{
	text-decoration: none;
	color:white;

}

@media (max-width: 580px){
	header ul{
		display:none;
	}
}

@media (min-width:580px){
	header select, header button{
		display:none;
	}
}

header select{
	width: 90%;
	margin:2%;
	border-radius: 10px;
	}
